.EnDeBody{
    margin-top: 3%;
}
.EnDeButton{
    margin-top: 1%;
    margin-left: 45%;
}

.HomeBtn{
    display: flex;
    padding-top: 10%;
    margin: auto;
}
.HomeBtnSize{
    display: block;
    font-size: 2em;
    margin: 4% auto;
    align-content: center;

}